:root {
    --inputWidth: 80%;
    --recipeEditWidth: calc(50% - var(--containerPadding));
}

.recipe-edit {
    position: fixed;
    top: calc(var(--headerHeight) + 2rem);
    right: var(--containerPadding);
    bottom: calc(var(--containerPadding) + 2rem);
    width: var(--recipeEditWidth);
    padding: 2rem;
    max-height: calc(100% - var(--containerPadding) * 2 - var(--headerHeight));
    overflow-y: auto;
}

.recipe-edit__ingredient-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: stretch;
}

.recipe-edit__ingredient-grid > button {
    align-self: stretch;
}

.recipe-edit__ingredient-grid > input {
    margin: 0;
}

.recipe-edit__ingredient-btn-container {
    padding-top: 10px;
    text-align: center;
}

.recipe-edit__ingredient--label {
    font-size: var(--smallText);
    font-weight: bold;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
}

.flex {
    align-items: flex-start;
}

.form-group > input,
textarea {
    font-size: var(--smallText);
    width: var(--inputWidth);
}

@media (max-width: 767px) {
    .flex {
        flex-direction: row;
    }

    .recipe-edit {
        --recipeEditWidth: calc(48% - var(--containerPadding));
    }
    .form-group {
        flex-direction: column;
    }

    .form-group > input,
    textarea {
        --inputWidth: 100%;
    }

    .recipe-edit__ingredient-grid {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 10px;
    }
}
